.app__home {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav nav"
    "posts posts posts users";
  grid-gap: 0.3rem;
  nav {
    grid-area: nav;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #000;
    height: 6vh;
  }
  article {
    grid-area: posts;
    .post__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .post {
        width: 31.5rem;
        margin: 1rem auto;
      }
    }
  }
  aside {
    grid-area: users;
    border-left: 1px solid #000;
    height: 94vh;
    position: relative;
    .app__aside {
      position: fixed;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "nav nav nav nav"
      "posts posts posts posts";
    nav {
      grid-area: nav;
    }
    article {
      grid-area: posts;
    }
    aside {
      display: none;
    }
  }
}
